.u-center-text {
    text-align: center !important;
}

.u-margin-bottom-huge {
    margin-bottom: 10rem !important;
}

.u-margin-bottom-big {
    margin-bottom: 8rem !important;
}

.u-margin-bottom-medium {
    margin-bottom: 4rem !important;
}

.u-margin-bottom-small {
    margin-bottom: 1.5rem !important;
}

.nowrap {
  white-space: nowrap;
}

.whitespace{
    height: 10rem;
}

.border-shadow
{

    border-radius: 0.8rem;
    background-color: #fff;
    box-shadow: 0 4px 5px 0 rgba(89, 89, 89, 0.31);
}

.round-border{
    border-style: solid;
    border-radius: 50vh;
    border-color: $color-grayish-brown;
    border-width: 0.08rem;
}
