<div class="whitespace"></div>

<div class="container-fluid back">
    <div class="row mx-5">
        <div class="col-md-3 col-12 justify-content-center">
            <div class="card border-shadow text-center card-profile align-items-center mb-2">
                <img class="mt-3" src="./../../../../assets/img/group.png" alt="Card image cap">
                <div class="card-body">
                    <h2 class="mb-2">
                        <i class="fas fa-edit mr-2"></i>alterar imagem</h2>
                </div>
            </div>
            <div class="row justify-content-center mt-3">
                <button type="submit" class="btn btn-save text-uppercase" routerLink="/listGroups/addGroup">
                    <i class="mr-1 fas fa-check"></i>Salvar dados</button>
            </div>

        </div>
        <div class="col-xl-9 col-md-9 col-12">
            <div class="card border-shadow text-center mb-2">
                <div class=" edit-title m-5 p-3 text-uppercase round-border text-left">Edição</div>
                <div class="section-title mx-5 my-3  ">Nome</div>
                <div class="row justify-content-center mb-3 mx-5">
                    <input class="input-busca " type="name" placeholder="Nome">
                </div>
                <div class="section-title mx-5 my-3  ">Cargo</div>
                <div class="row justify-content-center mb-3 mx-5">
                    <input class="input-busca " type="text" placeholder="Cargo">
                </div>
                <div class="section-title mx-5 my-3  ">E-mail</div>
                <div class="row justify-content-center mb-3 mx-5">
                    <input class="input-busca " type="email" placeholder="Email">
                </div>
                <div class="section-title mx-5 my-3 ">Senha</div>
                <div class="row justify-content-center mb-3 mx-5">
                    <input class="input-busca " type="password" placeholder="Senha">
                </div>


                <div class="mb-5"></div>
            </div>
        </div>

        <div class="mb-5"></div>
    </div>
</div>
