<div class="container-fluid back">
  <div class="row">
    <div class="col  mt-5">
      <h2 class="text-uppercase text-center page-title">Lista grupos</h2>
    </div>
  </div>
  <div class="row mx-5 align-items-center ">
    <div class="col-auto mt-5 justify-content-center">
      <input class="input-busca" type="text" placeholder="Buscar grupos">
    </div>
    <div class="col mt-5 mr-auto justify-content-center">
      <label class="d-inline-block text-nowrap ">
        <input type="checkbox" name="pizza" id="pepperoni" value="pepperoni" /> Selecionar todos
      </label>
    </div>
    <div class="col-auto mt-5 justify-content-center">
      <button type="submit" class="btn btn-delete mr-2 text-uppercase">
        <i class="mr-1 fas fa-trash"></i>Excluir selecionados</button>
    </div>
    <div class="col-auto mt-5 justify-content-center">
      <button type="submit" class="btn btn-add text-uppercase">
        <i class="mr-2 fas fa-plus"></i>Novo grupo</button>
    </div>

  </div>
  <div class="row mt-5 mx-5">
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="..." alt="Card image cap">
      <div class="card-body">
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>
  </div>
</div>
