<div class="container-fluid back">
  <div class="row">
    <div class="col  mt-5">
      <h2 class="text-uppercase text-center page-title">Lista grupos</h2>
    </div>
  </div>
  <div class="row mx-5">
    <div class="col mt-5">
      <form class="form-inline" action="">
      <input class="input-busca" type="text" placeholder="Buscar grupos">
      <input type="checkbox" class="form-check-input ml-3" id="selAll">
      <label class="form-check-label" for="selAll">Selecionar Todos</label>
    </form>
    </div>
    <div class="col text-left mt-5">
        <button type="submit" class="btn btn-delete">Submit</button>
        <button type="submit" class="btn btn-add">Submit</button>
    </div>
  </div>
</div>
