.navbar-brand {
    font-size: 1.75em;}

.navbar-nav li{
    margin-right: 1.3em;}

.navbar-nav a{
    color: white;}

.notifications{
    display: flex;
    text-align: center;
    align-items: center;
}

.u-vh{
    height: 100vh;
}

.img-perfil{
    width: 43px;
    height: 43px;
    border: 2px solid white;
}

