
<div class="card" style="width:34.5em;">
    <div class="teste">blabla</div>
        <div class="card-body">
                Em hac habitasse platea dictumst. Vivamus adipiscing fermentum quam volutpat aliquam. 
                Integer et elit eget elit facilisis tristique. Nam vel iaculis mauris. Sed ullamcorper tellus erat, 
                não ultracícos sem tincidunt euismod. Fusce rhoncus porttitor velit, eu bibendum nibh aliquet vel.
                 Fusce lorem leo, vehicula em nibh quis, facilisis accumsan turpis.
        </div>

        <div class="card-body">
                Em hac habitasse platea dictumst. Vivamus adipiscing fermentum quam volutpat aliquam. 
                Integer et elit eget elit facilisis tristique. Nam vel iaculis mauris. Sed ullamcorper tellus erat, 
                não ultracícos sem tincidunt euismod. Fusce rhoncus porttitor velit, eu bibendum nibh aliquet vel.
                 Fusce lorem leo, vehicula em nibh quis, facilisis accumsan turpis.
        </div>

        <div class="card-body">
                Em hac habitasse platea dictumst. Vivamus adipiscing fermentum quam volutpat aliquam. 
                Integer et elit eget elit facilisis tristique. Nam vel iaculis mauris. Sed ullamcorper tellus erat, 
                não ultracícos sem tincidunt euismod. Fusce rhoncus porttitor velit, eu bibendum nibh aliquet vel.
                 Fusce lorem leo, vehicula em nibh quis, facilisis accumsan turpis.
        </div>
      </div>