.card-show{
    color: $color-grayish-brown;
}

.card-show h1{
    font-size: 1.1rem;
    font-weight: bold;
}

.card-show h2{
    font-size: .9rem;
    font-weight: bold;
}

.card-show img{
    width: 6.25rem;
    height: auto;
    border-radius: 50%;
}

.card-show a{
    color: $color-grayish-brown;
    text-decoration: none;
}


.card-profile{
    color: $color-grayish-brown;
}

.card-profile h2{
    font-size: .9rem;
    font-weight: bold;
}

.card-profile img{
    width: 9.25rem;
    height: auto;
    border-radius: 50%;
}

.card-profile a{
    color: $color-grayish-brown;
    text-decoration: none;
}

.card-question{
    color: $color-grayish-brown;
}

.card-question {
    font-size: .9rem;
    font-weight: bold;
}


.border-sent img{
    border-width: 0.4em;
    border-color: rgba(33, 139, 56, 0.87);
}

.border-pendent img{
    border-width: 0.4em;
    border-color: $color-red;
}
